@import "bootstrap-sprockets"
@import "bootstrap"


body
  padding-top: 70px

.navbar
  background-color: #fff

.navbar-brand
  font-size: 24px

.grid-title
  position: absolute
  top: 0
  color: #fff
  padding: 15px
  font-size: 22px
  line-height: 26px
  height: 360px
  width: 360px
  background: url(image-path('gradient.png')) top left repeat-x

.grid-image
  margin: 0
  padding: 0

.btn-add-trip
  margin: 10px 0