<div class="col-md-4 grid-tile-wrap">
  <div class="grid-title">
    <%= plan.title %>
  </div>
  <div class="grid-image">
    <%= image_tag plan.image.url(:tile) %>
  </div>
  <p><%= plan.time_touched %></p>
</div>
